In [2]:
import numpy as np
import pandas as pd

In [5]:
data_23 = pd.read_csv("data/0901_Tek023.csv")
data_24 = pd.read_csv("data/0901_Tek024.csv")
data_25 = pd.read_csv("data/0901_Tek025.csv")
data_31 = pd.read_csv("data/0901_Tek031.csv")

In [19]:
print(data_31)

             n  vth_average            t
0            0     0.897816      0.00000
1            1     1.026272      0.00001
2            2     1.048362      0.00002
3            4     1.071285      0.00004
4            8     1.100969      0.00008
5           16     1.123731      0.00016
6           32     1.141961      0.00032
7           64     1.158543      0.00064
8          128     1.183770      0.00128
9          256     1.201427      0.00256
10         512     1.221689      0.00512
11        1024     1.246545      0.01024
12        2048     1.267370      0.02048
13        4096     1.294843      0.04096
14        8192     1.316228      0.08192
15       16384     1.335845      0.16384
16       32768     1.353571      0.32768
17       65536     1.378966      0.65536
18      131072     1.398590      1.31072
19      262144     1.414390      2.62144
20      524288     1.427069      5.24288
21     1048576     1.446973     10.48576
22     2097152     1.461066     20.97152
23     4194304     1.470572     41.94304
24     8388608     1.481304     83.88608
25    16777216     1.482852    167.77216
26    33554432     1.490374    335.54432
27    67108864     1.492506    671.08864
28   100000000     1.492868   1000.00000
29   125892541     1.491370   1258.92541
30   158489319     1.493624   1584.89319
31   199526232     1.495703   1995.26232
32   251188643     1.496054   2511.88643
33   316227766     1.496847   3162.27766
34   398107171     1.494575   3981.07171
35   501187234     1.495365   5011.87234
36   630957344     1.496765   6309.57344
37   794328235     1.492445   7943.28235
38  1000000000     1.495991  10000.00000

In [15]:
data_23.head()

   n  vth_average        t
0  0     0.914897  0.00000
1  1     1.012521  0.00001
2  2     1.030124  0.00002
3  4     1.053786  0.00004
4  8     1.073705  0.00008

In [ ]:
# For example: use data driven LSTM ML to predict dynamic Vth at 10000s using just first 100s
# NEED EITHER: MORE TRIALS, less sparse time data for first 100s, or ideally both
# For the time being, test predict 10000 values on the first 10 values